.App{
  width: 100vw;
  height:100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}


.link{
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 1rem;
    font-size: 1.3rem ;
    color: #fafafa;
    /* background-color: aqua; */
}